In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

# Read dataset

In [28]:
housing_JT_JG = pd.read_csv("/Users/jintonghong/Documents/GitHub/BIOSTAT625/Data Exploration/Individual_data/housing_export_jh380.csv", keep_default_na=True, na_values='null')

In [29]:
housing_WJ = pd.read_csv("/Users/jintonghong/Documents/GitHub/BIOSTAT625/Data Exploration/Individual_data/processed_house_prices.csv", keep_default_na=True, na_values='null')

In [30]:
housing_SH = pd.read_csv("/Users/jintonghong/Documents/GitHub/BIOSTAT625/Data Exploration/Individual_data/first3columns.csv", keep_default_na=True, na_values='null')

## *Function for data cleaning make up for errors caused by csv import*

In [31]:
def clean_dataset(df):
    # Replace True with 1 and False with 0
    df = df.map(lambda x: 1 if x is True else (0 if x is False else x))
    
    # Replace empty strings '' with 'na'
    df = df.map(lambda x: np.nan if x == '' else x)

    # Convert non-numeric columns (after conversion attempt) to categorical
    for column in df.select_dtypes(include=[object]):
        df[column] = df[column].astype('category')
    
    
    return df

# combine datasets

In [24]:
housing_exports = [housing_JT_JG,housing_WJ, housing_SH] # all datasets need to be combined

In [32]:
combined_housing_export = pd.concat(housing_exports, sort=False, axis = 1) # Combining datasets

In [33]:
combined_housing_export.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 33 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Status                     187531 non-null  int64
 1   Transaction                187448 non-null  object
 2   Transaction_Other          187448 non-null  float64
 3   Transaction_Resale         187448 non-null  float64
 4   Transaction_New Property   187448 non-null  float64
 5   Transaction_Rent/Lease     187448 non-null  float64
 6   Current Floor              180092 non-null  float64
 7   Total Floors               180405 non-null  float64
 8   Current Floor.c            180092 non-null  float64
 9   Total Floors.c             180405 non-null  float64
 10  Garden/Park                106095 non-null  float64
 11  Pool                       106095 non-null  float64
 12  Main Road                  106095 non-null  float64
 13  facing_East                117298 non-null  float64
 14  facing_West                117298 non-null  float64
 15  facing_North - East        117298 non-null  float64
 16  facing_North               117298 non-null  float64
 17  facing_North - West        117298 non-null  float64
 18  facing_South               117298 non-null  float64
 19  facing_South -West         117298 non-null  float64
 20  facing_South - East        117298 non-null  float64
 21  Furnishing_Unfurnished     184634 non-null  float64
 22  Furnishing_Semi-Furnished  184634 non-null  float64
 23  Furnishing_Furnished       184634 non-null  float64
 24  Index                      187531 non-null  int64
 25  Bathroom_Category          186668 non-null  object
 26  Balcony_Category           138574 non-null  object
 27  Car_Parking_Category       187531 non-null  object
 28  Ownership_Category         187531 non-null  object
 29  Unnamed: 0                 187531 non-null  int64
 30  Price (in rupees)          169866 non-null  float64
 31  location                   187531 non-null  object
 32  Carpet Area                100428 non-null  float64
dtypes: float64(24), int64(3), object(6)
memory usage: 47.2+ MB

# Process combined dataset

In [34]:
housing_cleaned = clean_dataset(combined_housing_export)

In [37]:
housing_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 33 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Status                     187531 non-null  int64
 1   Transaction                187448 non-null  category
 2   Transaction_Other          187448 non-null  float64
 3   Transaction_Resale         187448 non-null  float64
 4   Transaction_New Property   187448 non-null  float64
 5   Transaction_Rent/Lease     187448 non-null  float64
 6   Current Floor              180092 non-null  float64
 7   Total Floors               180405 non-null  float64
 8   Current Floor.c            180092 non-null  float64
 9   Total Floors.c             180405 non-null  float64
 10  Garden/Park                106095 non-null  float64
 11  Pool                       106095 non-null  float64
 12  Main Road                  106095 non-null  float64
 13  facing_East                117298 non-null  float64
 14  facing_West                117298 non-null  float64
 15  facing_North - East        117298 non-null  float64
 16  facing_North               117298 non-null  float64
 17  facing_North - West        117298 non-null  float64
 18  facing_South               117298 non-null  float64
 19  facing_South -West         117298 non-null  float64
 20  facing_South - East        117298 non-null  float64
 21  Furnishing_Unfurnished     184634 non-null  float64
 22  Furnishing_Semi-Furnished  184634 non-null  float64
 23  Furnishing_Furnished       184634 non-null  float64
 24  Index                      187531 non-null  int64
 25  Bathroom_Category          186668 non-null  category
 26  Balcony_Category           138574 non-null  category
 27  Car_Parking_Category       187531 non-null  category
 28  Ownership_Category         187531 non-null  category
 29  Unnamed: 0                 187531 non-null  int64
 30  Price (in rupees)          169866 non-null  float64
 31  location                   187531 non-null  category
 32  Carpet Area                100428 non-null  float64
dtypes: category(6), float64(24), int64(3)
memory usage: 39.7 MB

In [38]:
housing_cleaned.to_csv('housing_cleaned.csv', index=False)

# Train test split

In [ ]:
X = housing_cleaned.drop(columns=['Price'])
y = housing_cleaned['Price (in rupees)']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=625)