In [4]:
import pandas as pd

# Load the Excel file
file_path = '/Users/chensihan/Desktop/CPI_ of_ India.xlsx'
data = pd.ExcelFile(file_path)

# Load the data from the first sheet
sheet_data = data.parse('Sheet1')

# Display the first few rows to inspect
print(sheet_data.head())

  Sl. No.  Name of the State/UT  Rural  Unnamed: 3 Urban  Unnamed: 5 Combined  \
0       1        Andhra Pradesh   5.40      196.6   3.64      197.2     4.58
1       2     Arunachal Pradesh   0.14      197.6   0.06         --     0.10
2       3                 Assam   2.63      197.1   0.79      193.2     1.77
3       4                 Bihar   8.21      192.4   1.62      199.1     5.14
4       5          Chhattisgarh   1.68      188.3   1.22      183.5     1.46

  Unnamed: 7
0     196.8
1     197.6
2     196.3
3     193.4
4     186.4

In [5]:
# Strip any extra whitespace and remove non-numeric characters if present
sheet_data['Unnamed: 7'] = sheet_data['Unnamed: 7'].astype(str).str.strip()

# Attempt to convert to numeric, coercing errors to NaN
sheet_data['Unnamed: 7 (Numeric)'] = pd.to_numeric(sheet_data['Unnamed: 7'], errors='coerce')

# Display the cleaned column
sheet_data[['Unnamed: 7', 'Unnamed: 7 (Numeric)']].head()

  Unnamed: 7  Unnamed: 7 (Numeric)
0      196.8                 196.8
1      197.6                 197.6
2      196.3                 196.3
3      193.4                 193.4
4      186.4                 186.4

In [6]:
# Save the updated file with the cleaned column
output_path = '/Users/chensihan/Desktop/CPI_of_India_Cleaned.xlsx'
sheet_data.to_excel(output_path, index=False)
output_path

'/Users/chensihan/Desktop/CPI_of_India_Cleaned.xlsx'