In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
housing = pd.read_csv("/Users/jintonghong/Documents/GitHub/BIOSTAT625/Data Exploration/Clustering/data/housing_clean_clustering.csv")#, na_values='null')

In [4]:
def one_hot(var):
    housing[var].replace('', np.nan, inplace=True)
    housing[var] = pd.Categorical(housing[var])
    housing[var]
    
    onehot = pd.get_dummies(housing[var], prefix=var, drop_first=False) #Here, if we delete all na we should use True
    onehot = onehot.astype(float)
    onehot.loc[housing[var].isnull(), onehot.columns.str.startswith(var)] = np.nan

    return onehot

In [5]:
housing = housing.dropna(subset=['Price (in rupees)'])

In [6]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
Index: 169866 entries, 0 to 187530
Data columns (total 35 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Status                     169866 non-null  int64
 1   Transaction                169860 non-null  object
 2   Transaction_Other          169860 non-null  float64
 3   Transaction_Resale         169860 non-null  float64
 4   Transaction_New Property   169860 non-null  float64
 5   Transaction_Rent/Lease     169860 non-null  float64
 6   Current Floor              162701 non-null  float64
 7   Total Floors               162983 non-null  float64
 8   Current Floor.c            162701 non-null  float64
 9   Total Floors.c             162983 non-null  float64
 10  Garden/Park                99220 non-null   float64
 11  Pool                       99220 non-null   float64
 12  Main Road                  99220 non-null   float64
 13  facing_East                107814 non-null  float64
 14  facing_West                107814 non-null  float64
 15  facing_North - East        107814 non-null  float64
 16  facing_North               107814 non-null  float64
 17  facing_North - West        107814 non-null  float64
 18  facing_South               107814 non-null  float64
 19  facing_South -West         107814 non-null  float64
 20  facing_South - East        107814 non-null  float64
 21  Furnishing_Unfurnished     167806 non-null  float64
 22  Furnishing_Semi-Furnished  167806 non-null  float64
 23  Furnishing_Furnished       167806 non-null  float64
 24  Index                      169866 non-null  int64
 25  Bathroom_Category          169084 non-null  object
 26  Balcony_Category           124789 non-null  object
 27  Car_Parking_Category       169866 non-null  object
 28  Ownership_Category         169866 non-null  object
 29  Unnamed: 0                 169866 non-null  int64
 30  Price (in rupees)          169866 non-null  float64
 31  location                   169866 non-null  object
 32  Carpet Area                88348 non-null   float64
 33  State                      169866 non-null  object
 34  clustering                 169866 non-null  int64
dtypes: float64(24), int64(4), object(7)
memory usage: 46.7+ MB

In [7]:
housing = housing.join(one_hot("Car_Parking_Category"))

In [8]:
housing = housing.join(one_hot("Balcony_Category"))

In [9]:
housing = housing.join(one_hot("Bathroom_Category"))

In [10]:
housing = housing.join(one_hot("Ownership_Category"))

In [11]:
housing = housing.join(one_hot("clustering"))

In [12]:
housing_final = housing.drop(columns=['clustering', 'Car_Parking_Category', 'Balcony_Category', 'Bathroom_Category', 'Ownership_Category',
                      'Current Floor','Total Floors', 'State', 'location','Transaction','Index',
                                     'Unnamed: 0','Status'], axis =1)

In [13]:
housing_final = housing_final[housing_final['Price (in rupees)'] >= 100]

In [14]:
housing_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 169841 entries, 0 to 187530
Data columns (total 44 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   Transaction_Other                        169835 non-null  float64
 1   Transaction_Resale                       169835 non-null  float64
 2   Transaction_New Property                 169835 non-null  float64
 3   Transaction_Rent/Lease                   169835 non-null  float64
 4   Current Floor.c                          162677 non-null  float64
 5   Total Floors.c                           162959 non-null  float64
 6   Garden/Park                              99210 non-null   float64
 7   Pool                                     99210 non-null   float64
 8   Main Road                                99210 non-null   float64
 9   facing_East                              107802 non-null  float64
 10  facing_West                              107802 non-null  float64
 11  facing_North - East                      107802 non-null  float64
 12  facing_North                             107802 non-null  float64
 13  facing_North - West                      107802 non-null  float64
 14  facing_South                             107802 non-null  float64
 15  facing_South -West                       107802 non-null  float64
 16  facing_South - East                      107802 non-null  float64
 17  Furnishing_Unfurnished                   167783 non-null  float64
 18  Furnishing_Semi-Furnished                167783 non-null  float64
 19  Furnishing_Furnished                     167783 non-null  float64
 20  Price (in rupees)                        169841 non-null  float64
 21  Carpet Area                              88334 non-null   float64
 22  Car_Parking_Category_covered             169841 non-null  float64
 23  Car_Parking_Category_open                169841 non-null  float64
 24  Car_Parking_Category_unknown             169841 non-null  float64
 25  Balcony_Category_=1                      124769 non-null  float64
 26  Balcony_Category_=2                      124769 non-null  float64
 27  Balcony_Category_=3                      124769 non-null  float64
 28  Balcony_Category_=4                      124769 non-null  float64
 29  Balcony_Category_>=5                     124769 non-null  float64
 30  Bathroom_Category_=1                     169060 non-null  float64
 31  Bathroom_Category_=2                     169060 non-null  float64
 32  Bathroom_Category_=3                     169060 non-null  float64
 33  Bathroom_Category_=4                     169060 non-null  float64
 34  Bathroom_Category_>=5                    169060 non-null  float64
 35  Ownership_Category_Co-operative Society  169841 non-null  float64
 36  Ownership_Category_Freehold              169841 non-null  float64
 37  Ownership_Category_Leasehold             169841 non-null  float64
 38  Ownership_Category_Other                 169841 non-null  float64
 39  Ownership_Category_Power Of Attorney     169841 non-null  float64
 40  clustering_1                             169841 non-null  float64
 41  clustering_2                             169841 non-null  float64
 42  clustering_3                             169841 non-null  float64
 43  clustering_4                             169841 non-null  float64
dtypes: float64(44)
memory usage: 58.3 MB

In [15]:
housing_rmna_final = housing_final.dropna()

In [16]:
housing_final.to_csv('final_full_OneHotEncoded_housing.csv', index=False)

In [17]:
housing_rmna_final.to_csv('final_full_rmna_OneHotEncoded_housing.csv', index=False)