In [52]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

# Read dataset

In [77]:
housing_JT = pd.read_csv("/Users/jintonghong/Documents/GitHub/BIOSTAT625/Data Exploration/housing_export_jh380.csv", keep_default_na=True, na_values='null')

In [75]:
housing_J = pd.read_csv("/Users/jintonghong/Desktop/umich/24-25/BIOSTAT625/Final Project/data_exploration/encodedData.csv", keep_default_na=True, na_values='null')

In [ ]:
housing_WJ = pd.read_csv("/Users/morgan/Desktop/processed_house_prices.csv", keep_default_na=True, na_values='null'))

In [ ]:
housing_SH = pd.read_csv("", keep_default_na=True, na_values='null'))

## *Function for data cleaning make up for errors caused by csv import*

In [79]:
def clean_dataset(df):
    # Replace True with 1 and False with 0
    df = df.map(lambda x: 1 if x is True else (0 if x is False else x))
    
    # Replace empty strings '' with 'na'
    df = df.map(lambda x: np.nan if x == '' else x)

    # Convert non-numeric columns (after conversion attempt) to categorical
    for column in df.select_dtypes(include=[object]):
        df[column] = df[column].astype('category')
    
    
    return df

In [80]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 10 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Status                    187531 non-null  int64
 1   Transaction               187448 non-null  category
 2   Transaction_Other         187531 non-null  int64
 3   Transaction_Resale        187531 non-null  int64
 4   Transaction_New Property  187531 non-null  int64
 5   Transaction_Rent/Lease    187531 non-null  int64
 6   Current Floor             180092 non-null  float64
 7   Total Floors              180405 non-null  float64
 8   Current Floor.c           180092 non-null  float64
 9   Total Floors.c            180405 non-null  float64
dtypes: category(1), float64(4), int64(5)
memory usage: 13.1 MB

# combine datasets

In [84]:
housing_exports = [housing_JT,housing_J,housing_WJ, housing_SH] # all datasets need to be combined

In [85]:
combined_housing_export = pd.concat(housing_exports, ignore_index=True, sort=False) # Combining datasets

In [88]:
combined_housing_export.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375062 entries, 0 to 375061
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                187531 non-null  float64
 1   FurnishingFurnished       187531 non-null  float64
 2   FurnishingSemi.Furnished  187531 non-null  float64
 3   FurnishingUnfurnished     187531 non-null  float64
 4   facingEast                187531 non-null  float64
 5   facingNorth               187531 non-null  float64
 6   facingNorth...East        187531 non-null  float64
 7   facingNorth...West        187531 non-null  float64
 8   facingSouth               187531 non-null  float64
 9   facingSouth...East        187531 non-null  float64
 10  facingSouth..West         187531 non-null  float64
 11  facingWest                187531 non-null  float64
 12  Garden.Park               187531 non-null  float64
 13  Main.Road                 187531 non-null  float64
 14  Pool                      187531 non-null  float64
 15  Status                    187531 non-null  float64
 16  Transaction               187448 non-null  category
 17  Transaction_Other         187531 non-null  float64
 18  Transaction_Resale        187531 non-null  float64
 19  Transaction_New Property  187531 non-null  float64
 20  Transaction_Rent/Lease    187531 non-null  float64
 21  Current Floor             180092 non-null  float64
 22  Total Floors              180405 non-null  float64
 23  Current Floor.c           180092 non-null  float64
 24  Total Floors.c            180405 non-null  float64
dtypes: category(1), float64(24)
memory usage: 69.0 MB

# Process combined dataset

In [61]:
housing_cleaned = clean_dataset(combined_housing_export)

,Status,Transaction,Transaction_Other,Transaction_Resale,Transaction_New Property,Transaction_Rent/Lease,Current Floor,Total Floors,Current Floor.c,Total Floors.c
0,1,Resale,0,1,0,0,10.0,11.0,1.1897773234273794,0.2924224755521858
1,1,Resale,0,1,0,0,3.0,22.0,-0.31182615506680317,1.7374986608297533
2,1,Resale,0,1,0,0,10.0,29.0,1.1897773234273794,2.6570925969154784
3,1,Resale,0,1,0,0,1.0,3.0,-0.7408557203508553,-0.7585420228314997
4,1,Resale,0,1,0,0,20.0,42.0,3.33492514984764,4.3649099067889665

In [ ]:
housing_cleaned.head()

# Train test split

In [ ]:
X = housing_cleaned.drop(columns=['Price'])
y = housing_cleaned['Price (in rupees)']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=625)